<div class="row vertical-align">
  <div class="col-xs-6" *ngIf="!showRenameForm">
    {{_name}} <span class="badge">{{data.recordNum}}</span>
  </div>
  <div class="col-xs-12" *ngIf="showRenameForm">
    <div class="input-group" [class.has-error]="!name.valid && !name.disabled">
      <input type="text" class="form-control" name="name" [(ngModel)]="_name" #name="ngModel" required maxlength="14"
             placeholder="动作名字，必填" [disabled]="waiting" (keyup.enter)="name.valid && nameChanged && save()"><br>
      <div class="input-group-btn">
        <button class="btn btn-primary" *ngIf="!waiting" (click)="save()" [class.hidden]="!name.valid || !nameChanged">
          保存
        </button>
        <button class="btn btn-default" *ngIf="!waiting" (click)="cancel();">取消</button>
        <button class="btn btn-default" *ngIf="waiting" disabled><span
          class="glyphicon glyphicon-repeat rotate-forever"></span></button>
      </div>
    </div>
    <div class="checkbox vertical-align">
      <label>
        <input type="checkbox" name="changeOld" [(ngModel)]="changeOld" [disabled]="waiting">
        同时修改之前的记录 <span class="badge">{{data.recordNum ? data.recordNum + '条记录将被修改' : '暂无记录'}}</span>
      </label>
    </div>
    <alert [type]="a.type" dismissible="true" *ngFor="let a of alerts">{{a.msg}}</alert>
  </div>
  <div class="col-xs-6 btn-group" *ngIf="!showRenameForm" dropdown>
    <button class="btn btn-default pull-right" dropdownToggle *ngIf="!waiting">
      <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
    </button>
    <button class="btn btn-default pull-right" *ngIf="waiting" disabled><span
      class="glyphicon glyphicon-repeat rotate-forever"></span></button>
    <ul class="dropdown-menu-right" dropdownMenu>
      <li><a href (click)="$event.preventDefault(); toggleRename()">重命名</a></li>
      <li role="separator" class="divider"></li>
      <li><a href (click)="$event.preventDefault(); deleteAction()">删除</a></li>
    </ul>
  </div>
</div>
<div *ngIf="!showRenameForm && alerts.length > 0">
  <alert [type]="a.type" dismissible="true" *ngFor="let a of alerts">{{a.msg}}</alert>
</div>
