<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <action-category-editor *ngFor="let c of all | async" [data]="c"></action-category-editor>
    <button class="pull-right btn btn-lg btn-default" (click)="showAddCategory()"><span class="glyphicon glyphicon-plus"></span> 新建分类</button>
  </div>
</div>
<div bsModal #addCategoryConfirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true" (onShown)="nameInput.focus()" (onHidden)="name.reset()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="hideAddCategory()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">新建分类</h4>
      </div>
      <div class="modal-body">
        <div class="input-group" [class.has-error]="!name.valid && !name.pristine && !name.disabled">
          <input type="text" class="form-control" name="name" [(ngModel)]="addCategoryName" #name="ngModel" required
                 maxlength="14" placeholder="分类名，必填" #nameInput [disabled]="waiting" (keyup.enter)="name.valid && addCategory()"><br>
          <div class="input-group-btn">
            <button class="btn btn-primary" *ngIf="!waiting" (click)="addCategory()" [class.hidden]="!name.valid">建立</button>
            <button class="btn btn-default" *ngIf="!waiting" (click)="hideAddCategory();">取消</button>
            <button class="btn btn-default" *ngIf="waiting" disabled><span class="glyphicon glyphicon-repeat rotate-forever"></span></button>
          </div>
        </div>
        <alert [type]="a.type" dismissible="true" *ngFor="let a of alerts">{{a.msg}}</alert>
      </div>
    </div>
  </div>
</div>
<!--手机上输入法出来后用户滚动会导致输入框被输入法遮住，为了解决此问题，在最下方的输入框下方加入足够的空白区域来避免出现此问题-->
<div style="height: 20em"></div>
