<app-nav [brandName]="title"></app-nav>
<div class="container">
  <router-outlet></router-outlet>
  <div class="row" style="margin-top: 70px">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container" style="padding-top: 15px">
        <footer>
          <!--<p class="pull-right"><a href="#">联系我们</a> | <a href="#">客服中心</a></p>-->
          <p>&copy; 2016 - 2017 MiGuo Tech, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
      </div>
    </nav>
  </div>
</div>
