<div class="row" style="margin-top: 50px">
  <div class="col-sm-8 hidden-xs" style='background: url("assets/img/bg.jpeg") top right no-repeat'>
    <dl>
      <dt class="h4">坚持记录</dt>
      <dd>我做过什么、正在做什么</dd>
    </dl>
    <dl>
      <dt class="h4">计划将来</dt>
      <dd>我准备什么、将来会发生什么</dd>
    </dl>
    <dl>
      <dt class="h4">统计分析</dt>
      <dd>你花了多少时间做某事、我的时间都浪费在哪里</dd>
    </dl>
    <dl>
      <dt class="h4">管理优化</dt>
      <dd>减少时间的浪费、提高效率、更好的利用时间</dd>
    </dl>
  </div>

  <div class="col-sm-4" style="border: 3px solid #e9e8e6;box-shadow:2px 2px 3px #aaaaaa;">
    <login-zone></login-zone>
  </div>
</div>
