<div class="row" style="margin-top: 50px">
  <div class="col-sm-8 hidden-xs">

    <div class="row">
      <div class="col-sm-5 col-xs-6" style="z-index: 600">
        <div style="margin-left: 15%">
          <h1 style="color:#7096c6">日程管理</h1>
          <p>dsawwadadawdawdada</p>
          <p>大声道啊大大 大</p>
          <p>大大阿瓦单位阿瓦达</p>
          <p>打我的啊四啦</p>
          <p>09打发打发</p>
          <p>ds</p>
          <p>额</p>
        </div>
      </div>
      <div class="col-sm-7 col-xs-6">
        <div style="margin-right: 15%">
          <img src="assets/img/bg.jpeg" class="pull-right">
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4" style="border: 3px solid #e9e8e6;box-shadow:2px 2px 3px #aaaaaa;">
    <login-zone></login-zone>
  </div>
</div>
