<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">记录</div>

      <div class="panel-body text-center">
        <h2>
          <small>正在</small>
          {{current}}
        </h2>
        <h4>
          <small>已进行</small>
          10小时10分20秒
        </h4>
        <hr/>
        <button class="btn btn-default btn-sm" [class.btn-primary]="current == a.name" *ngFor="let a of actionList | async" (click)="changeCurrent(a.name)">{{a.name}}</button>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">图表</div>

      <div class="panel-body">
        You are logged in!
      </div>
    </div>
  </div>
</div>
