/* You can add global styles to this file, and also import other style files */
.vertical-align {
  display: flex;
  align-items: center;
}
.rotate-forever {
  animation: 1s linear infinite rotate;
}
@keyframes rotate {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
